# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
bin/
obj/


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.eslintcache

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/
bin/Debug/net8.0/GameCollectionPlayApi.dll
bin/Debug/net8.0/GameCollectionPlayApi.exe
bin/Debug/net8.0/GameCollectionPlayApi.pdb
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/GameCollectionPlayApi.AssemblyInfo.cs
obj/Debug/net8.0/GameCollectionPlayApi.AssemblyInfoInputs.cache
obj/Debug/net8.0/GameCollectionPlayApi.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/GameCollectionPlayApi.dll
obj/Debug/net8.0/GameCollectionPlayApi.sourcelink.json
obj/Debug/net8.0/GameCollectionPlayApi.pdb
obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
obj/Debug/net8.0/rjsmrazor.dswa.cache.json
obj/Debug/net8.0/rpswa.dswa.cache.json
obj/Debug/net8.0/ref/GameCollectionPlayApi.dll
obj/Debug/net8.0/refint/GameCollectionPlayApi.dll
